@media screen and (min-width: 360px) and (max-width: 480px) {
    section {
        width: auto;
        grid-template-columns: 102px 215px;
        grid-template-rows: 59px auto 59px;
    }

    .sub-comment {
        width: 85%;
    }

    .reply_field {
        margin-left: 10px;
    }

    .edit-delete-buttons {
        margin-left: 10px;
    }

    .up-down-vote {
        grid-row: 3/4;
        grid-column: 1/3;
        transform: rotate(270deg);
        position: relative;
        top: -49%;
        left: 29px;
    }

    .score {
        transform: rotate(90deg);
    }

    .main-content {
        grid-column: 1/3;
    }
}