@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

:root {
  --dark-blue: #334253;
  --grayish-blue: #67727E;
  --very-light-gray: #F5F6FA;
  --light-gray: #E9EBF0;
  --white: #FFFFFF;
  --moderate-blue: #5357B6;
  --light-grayish-blue: #C5C6EF;
  --soft-red: #ED6368;
  --pale-red: #FFB8BB;
}

body {
  font-family: 'Rubik', sans-serif;
  background-color: var(--light-gray);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: var(--grayish-blue);
}

main {
  width: min-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

section {
  margin-top: 20px;
  padding: 24px;
  background-color: var(--white);
  display: grid;
  grid-template-columns: 65px auto;
  grid-template-rows: 59px auto;
  width: 730px;
}

.main-content {
  grid-column: 2/3;
  width: auto;
  justify-self: self-start;
  justify-content: start;
}

.username, .createdAt {
  margin-left: 16px;
}

.sub-comment {
  width: 70%;
}

.up-down-vote {
  display: flex;
  background-color: var(--light-gray);
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px;
  width: 40px;
  padding: 6px;
  align-items: center;
  height: 100px;
}

.up-down-vote button {
  border: none;
  background-color: transparent;
}

.cabecalho {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cabecalho div {
  display: flex;
  align-items: center;
}

form {
  display: flex;
  grid-column: 1/3;
  justify-content: space-between;
  grid-row: 1/3;
}

input {
  cursor: pointer;
  border: none;
  font-weight: bold;
  background-color: var(--moderate-blue);
  color: var(--white);
  border-radius: 10px;
  margin-left: 16px;
}

.send-btn {
  height: 50px;
  width: 22%;
}

.send-btn:hover, .reply-btn:hover {
  background-color: var(--light-grayish-blue);
}

button {
  cursor: pointer;
}

.avatar-comment {
  height: 35%;
  margin-right: 16px;
}

textarea {
  width: 100%;
  resize: none;
  border: 1px solid var(--moderate-blue);
  border-radius: 20px;
  padding: 12px 24px 16px 24px;
}

textarea:focus {
  outline: none;
}

.btn-new-comment {
  width: 100%;
  grid-column: 3/4;
  cursor: pointer;
}

.new-comment {
  grid-template-columns: 65px auto 90px;
}

.comment, .new-comment, .comment_field, .reply_section {
  border-radius: 10px;
}

.comment-text {
  line-height: 30px;
}

.textarea {
  width: 100%;
  padding: 8px;
  margin-left: 16px;
}

.textarea:focus {
  outline: none;
}

.reply_field {
  color: var(--moderate-blue);
  font-weight: bold;
  cursor: pointer;
}

.replying-to {
  color: var(--dark-blue);
  font-weight: bold;
}

.reply_section textarea{
  grid-column: 2/3;
  grid-row: 1/3;
  margin-left: 16px;
}

.reply_section button {
  grid-column: 3/4;
  height: 60%;
  justify-self: self-end;
  border: none;
  background: var(--moderate-blue);
  color: var(--white);
  font-weight: bold;
  border-radius: 10px;
}

.score {
  color: var(--moderate-blue);
  font-weight: bold;
}

.downvote-btn, .upvote-btn {
  color: var(--light-grayish-blue);
  font-weight: bold;
  font-size: 20px;
}

.reply-btn {
  width: 40%;
  height: 70%;
}

.username {
  color: var(--dark-blue);
  font-weight: bold;
}