@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

:root {
  --dark-blue: #334253;
  --grayish-blue: #67727E;
  --very-light-gray: #F5F6FA;
  --light-gray: #E9EBF0;
  --white: #FFFFFF;
  --moderate-blue: #5357B6;
  --light-grayish-blue: #C5C6EF;
  --soft-red: #ED6368;
  --pale-red: #FFB8BB;
}

body {
  font-family: 'Rubik', sans-serif;
  background-color: var(--light-gray);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

main {
  width: min-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

section {
  margin-top: 20px;
  padding: 24px;
  background-color: var(--white);
  display: grid;
  grid-template-columns: 65px auto;
  grid-template-rows: 71px 96px;
  width: 730px;
}

.main-content {
  grid-column: 2/3;
  width: auto;
  justify-self: self-start;
  justify-content: start;
}

.username, .createdAt {
  margin-left: 16px;
}

.reply_field {
  margin-left: 309px;
}

.sub-comment {
  width: 70%;
}

.up-down-vote {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.up-down-vote button {
  border: none;
  background-color: transparent;
}

form {
  display: flex;
  grid-column: 1/3;
  justify-content: space-between;
  grid-row: 1/3;
}

input {
  border: none;
  height: 30%;
  width: 10%;
}

textarea {
  width: 100%;
  height: 100%;
  resize: none;
  border: none;
}

textarea:focus {
  outline: none;
}